<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о читателе</title>
</head>
<body>
<p th:text="${showcase.getFullName() + ', ' + showcase.getYearOfBirth()}">VALUE</p>

<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr>
    <b>Книги:</b>
    <br>
    <table th:each="item : ${books}">
        <tr th:text="${item.getTitle() + ', ' + item.getAuthor() + ', ' + item.getYear()}">Book</tr>
    </table>
    <hr>
</div>

<hr>
<a href="/people/">Вернуться к списку читателей</a>
<br>
<a href="/items/">Перейти к списку книг</a>
<hr>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${showcase.getId()})}">
    <input type="submit" value="Редактировать читателя">
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${showcase.getId()})}">
    <input type="submit" value="Удалить читателя"/>
</form>
</body>
</html>