<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
</head>
<body>

<div th:each="item : ${items}">
    <a th:href="@{/items/{id}(id=${item.getId()})}"
       th:text="${item.getPosition() + ', ' + item.getName() + ', ' + item.getItemType() + ', ' + item.getPrice()}">item</a>
</div>

<br/>
<hr/>

<a href="/items/new">Создать новый товар</a>

<br/>
<hr/>
<a href="/showcases">Перейти в список витрин</a>

</body>
</html>