<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Информация о книге</title>
</head>
<body>
<p th:text="${item.getTitle() + ', ' + item.getAuthor() + ', ' + item.getYear()}">VALUE</p>

<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getFullName()}">Person name</span>
    <form th:method="PATCH" th:action="@{/items/{id}/release(id=${item.getId()})}">
        <input type="submit" value="Освободить книгу">
    </form>
</div>

<!--<div th:if="${showcases}">-->
<!--    <span>Эта книга свободна. Кому ее назначить?</span>-->
<!--    <form th:method="PATCH" th:action="@{/items/{id}/assign(id=${item.getId()})}">-->
<!--        <label for="showcase">Выберите человека:</label>-->
<!--        <select th:object="${showcase}" th:field="*{id}" id="showcase">-->
<!--            <option th:each="showcase : ${showcases}" th:value="${showcase.getId()}" th:text="${showcase.getFullName()}">-->
<!--            </option>-->
<!--        </select>-->
<!--        <input type="submit" value="Назначить книгу"/>-->
<!--    </form>-->
<!--</div>-->

<a href="/items/">Вернуться к списку товаров</a>
<br>
<a href="/showcases/">Перейти к списку витрин</a>

<br>
<hr>

<form th:method="GET" th:action="@{/items/{id}/edit(id=${item.getId()})}">
    <input type="submit" value="Редактировать товар">
</form>

<form th:method="DELETE" th:action="@{/items/{id}(id=${item.getId()})}">
    <input type="submit" value="Удалить товар"/>
</form>
</body>
</html>